# Capstone project: International Student Recruitment Analytics
# Group 3
    - Rishikesh Gaikwad	                    Student ID 0812570
    - Fei Gao	                              Student ID 0822295
    - Ankitkumar Kamleshbhai Padhiar 	      Student ID 0803142
    - Abhigna Reddy Sudini	                 Student ID 0813526
---

### Change Log

    -RGCL01- date 13/11/2023 - Adding new columns to the data set 'test_type_st' and 'uid'
    -FGCL02- date 15/11/2023 - Cancelling 4 columns dropped, i.e. declared_student_id, application_resubmitted_date, proof_of_payment_date, offer_conditions. Changing output file from students_min.xlsx to students_max.xlsx  
    -FGCL03- date 15/11/2023 dropping duplications. Output file is students_clean.xlsx for making dashboard.

# Part1 - Data cleaning

## Import necessory libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt#visualization
%matplotlib inline
from matplotlib import rcParams
rcParams['figure.figsize'] = 5,4

import seaborn as sns#visualization
import plotly.offline as py#visualization
import plotly.graph_objs as go#visualization
import warnings
warnings.filterwarnings("ignore")

In [2]:
#!pip install openpyxl

## Read the dataset

In [3]:
st_raw = pd.read_excel('students.xlsx')# read the original file

In [4]:
st = st_raw.copy() # make a copy
st.head() # data overview

,Enrolled,Applicant Number,Mailing Address Postal/Zip Code,Primary Citizenship,Mother Tongue,Country Of Birth,Date Of Birth,Status in Canada,Current Country of Residence,Current Province of Residence,...,Pre-Registration Date,Withdraw Reason,Revoke Reason,Other Reason,Decline Reason,Decline Other Reason,Declined - Accepted Offer at another institution,Declined - Accepted Offer in another country,Deferral Offer Date,Refund Offer Date
0,False,X1981866,L7C 3B6,India,Panjabi; Punjabi,India,1996-12-20,Study Permit / Student Visa,Canada,Ontario,...,NaT,NaN,Payment Not Received,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,True,X1981905,152123,India,Panjabi; Punjabi,India,2003-01-10,No status in Canada,India,Punjab,...,NaT,NaN,No Seats Available in the Selected Intake,NaN,NaN,NaN,NaN,NaN,2023-02-18 01:30:08.910,NaT
2,True,X1981905,152123,India,Panjabi; Punjabi,India,2003-01-10,No status in Canada,India,Punjab,...,2023-03-02 07:09:29.926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,False,X1965783,151504,India,Panjabi; Punjabi,India,1998-03-15,No status in Canada,India,Punjab,...,NaT,Visa Rejected,No Seats Available in the Selected Intake,NaN,NaN,NaN,NaN,NaN,NaT,2023-03-31 13:17:07.542
4,False,X1965783,151504,India,Panjabi; Punjabi,India,1998-03-15,No status in Canada,India,Punjab,...,NaT,NaN,No Seats Available in the Selected Intake,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [5]:
st.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46331 entries, 0 to 46330
Data columns (total 61 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Enrolled                                          46331 non-null  bool
 1   Applicant Number                                  46331 non-null  object
 2   Mailing Address Postal/Zip Code                   43238 non-null  object
 3   Primary Citizenship                               46331 non-null  object
 4   Mother Tongue                                     46331 non-null  object
 5   Country Of Birth                                  46331 non-null  object
 6   Date Of Birth                                     46331 non-null  datetime64[ns]
 7   Status in Canada                                  46331 non-null  object
 8   Current Country of Residence                      46331 non-null  object
 9   Current Province of Residence                     46331 non-null  object
 10  English Proficiency Type                          46331 non-null  object
 11  Overall Score                                     40336 non-null  object
 12  Test Type                                         40765 non-null  object
 13  Applicant Type                                    46331 non-null  object
 14  Declared Student Id                               1120 non-null   object
 15  Profile Last Modified Date                        46331 non-null  datetime64[ns]
 16  Application Info Due Date                         1 non-null      object
 17  Agency Name                                       40542 non-null  object
 18  Application Number                                46331 non-null  object
 19  Application State                                 46331 non-null  object
 20  Program Selection Added Date                      46331 non-null  datetime64[ns]
 21  Program Choice Rank                               31995 non-null  float64
 22  Program Title                                     46331 non-null  object
 23  Program Code                                      46331 non-null  object
 24  Campus Name                                       46331 non-null  object
 25  Program Term                                      46331 non-null  object
 26  Program Start Date                                46331 non-null  datetime64[ns]
 27  Future Program Selection                          0 non-null      float64
 28  Supporting Document Visitor Visa                  46331 non-null  int64
 29  Supporting Document Approval In Principle         46331 non-null  int64
 30  Supporting Document Co Op Work Permit             46331 non-null  int64
 31  Supporting Document Study Permit                  46331 non-null  int64
 32  Supporting Document Visa Approval Letter          46331 non-null  int64
 33  Application Submitted Date                        46331 non-null  datetime64[ns]
 34  Application Resubmitted Date                      2833 non-null   datetime64[ns]
 35  Screening Status                                  46331 non-null  object
 36  Screened Date                                     44428 non-null  datetime64[ns]
 37  Application Last Modified Date                    46331 non-null  datetime64[ns]
 38  Offer State                                       43101 non-null  object
 39  Proof of Payment Date                             13975 non-null  datetime64[ns]
 40  Program Decision State                            46331 non-null  object
 41  Conditions?                                       43101 non-null  object
 42  Offer Conditions                                  235 non-null    object
 43  Offer Date                                        43101 non-null  datetime64[ns]
 44  Issued Date                                       43101 non-null  datetime64[ns]
 45  Expiration Date                                   43101 non-null  datetime64[ns]
 46  Pre-Admit Expiration Date                         0 non-null      float64
 47  Offer Accepted Date                               36081 non-null  datetime64[ns]
 48  Deposit Due Date                                  10 non-null     object
 49  Paid Date                                         25862 non-null  datetime64[ns]
 50  Proof of Payment Provided                         46331 non-null  bool
 51  Pre-Registration Date                             11720 non-null  datetime64[ns]
 52  Withdraw Reason                                   12773 non-null  object
 53  Revoke Reason                                     16294 non-null  object
 54  Other Reason                                      3433 non-null   object
 55  Decline Reason                                    617 non-null    object
 56  Decline Other Reason                              536 non-null    object
 57  Declined - Accepted Offer at another institution  8 non-null      object
 58  Declined - Accepted Offer in another country      0 non-null      float64
 59  Deferral Offer Date                               4174 non-null   datetime64[ns]
 60  Refund Offer Date                                 7007 non-null   datetime64[ns]
dtypes: bool(2), datetime64[ns](17), float64(4), int64(5), object(33)
memory usage: 20.9+ MB

### Rename the column name

In [6]:
st.columns

Index(['Enrolled', 'Applicant Number', 'Mailing Address Postal/Zip Code',
       'Primary Citizenship', 'Mother Tongue', 'Country Of Birth',
       'Date Of Birth', 'Status in Canada', 'Current Country of Residence',
       'Current Province of Residence', 'English Proficiency Type',
       'Overall Score', 'Test Type', 'Applicant Type', 'Declared Student Id',
       'Profile Last Modified Date', 'Application Info Due Date',
       'Agency Name', 'Application Number', 'Application State',
       'Program Selection Added Date', 'Program Choice Rank', 'Program Title',
       'Program Code', 'Campus Name', 'Program Term', 'Program Start Date',
       'Future Program Selection', 'Supporting Document Visitor Visa',
       'Supporting Document Approval In Principle',
       'Supporting Document Co Op Work Permit',
       'Supporting Document Study Permit',
       'Supporting Document Visa Approval Letter',
       'Application Submitted Date', 'Application Resubmitted Date',
       'Screening Status', 'Screened Date', 'Application Last Modified Date',
       'Offer State', 'Proof of Payment Date', 'Program Decision State',
       'Conditions?', 'Offer Conditions', 'Offer Date', 'Issued Date',
       'Expiration Date', 'Pre-Admit Expiration Date', 'Offer Accepted Date',
       'Deposit Due Date', 'Paid Date', 'Proof of Payment Provided',
       'Pre-Registration Date', 'Withdraw Reason', 'Revoke Reason',
       'Other Reason', 'Decline Reason', 'Decline Other Reason',
       'Declined - Accepted Offer at another institution',
       'Declined - Accepted Offer in another country', 'Deferral Offer Date',
       'Refund Offer Date'],
      dtype='object')

In [7]:
# Replace spaces with underscores and convert column names to lowercase
st.columns = st.columns.str.replace('/', '_').str.replace(' - ', '_').str.replace(' ', '_').str.lower()

In [8]:
st.columns

Index(['enrolled', 'applicant_number', 'mailing_address_postal_zip_code',
       'primary_citizenship', 'mother_tongue', 'country_of_birth',
       'date_of_birth', 'status_in_canada', 'current_country_of_residence',
       'current_province_of_residence', 'english_proficiency_type',
       'overall_score', 'test_type', 'applicant_type', 'declared_student_id',
       'profile_last_modified_date', 'application_info_due_date',
       'agency_name', 'application_number', 'application_state',
       'program_selection_added_date', 'program_choice_rank', 'program_title',
       'program_code', 'campus_name', 'program_term', 'program_start_date',
       'future_program_selection', 'supporting_document_visitor_visa',
       'supporting_document_approval_in_principle',
       'supporting_document_co_op_work_permit',
       'supporting_document_study_permit',
       'supporting_document_visa_approval_letter',
       'application_submitted_date', 'application_resubmitted_date',
       'screening_status', 'screened_date', 'application_last_modified_date',
       'offer_state', 'proof_of_payment_date', 'program_decision_state',
       'conditions?', 'offer_conditions', 'offer_date', 'issued_date',
       'expiration_date', 'pre-admit_expiration_date', 'offer_accepted_date',
       'deposit_due_date', 'paid_date', 'proof_of_payment_provided',
       'pre-registration_date', 'withdraw_reason', 'revoke_reason',
       'other_reason', 'decline_reason', 'decline_other_reason',
       'declined_accepted_offer_at_another_institution',
       'declined_accepted_offer_in_another_country', 'deferral_offer_date',
       'refund_offer_date'],
      dtype='object')

### Check for duplications

Why are there duplications in the dataset? How to deal with the dupications?

In [9]:
st.duplicated().sum()

1516

In [10]:
duplicate_rows = st[st.duplicated(keep=False)]
duplicate_rows

,enrolled,applicant_number,mailing_address_postal_zip_code,primary_citizenship,mother_tongue,country_of_birth,date_of_birth,status_in_canada,current_country_of_residence,current_province_of_residence,...,pre-registration_date,withdraw_reason,revoke_reason,other_reason,decline_reason,decline_other_reason,declined_accepted_offer_at_another_institution,declined_accepted_offer_in_another_country,deferral_offer_date,refund_offer_date
6,False,X1965844,NaN,Jordan,Arabic,Jordan,2002-09-05,No status in Canada,Jordan,Irbid,...,NaT,Visa Rejected,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
100,True,X1963784,7042,Bangladesh,Bengali,Bangladesh,2004-02-20,No status in Canada,Bangladesh,Khulna,...,NaT,Other,NaN,apply for EAP-23S and B851-23F,NaN,NaN,NaN,NaN,NaT,NaT
101,True,X1963784,7042,Bangladesh,Bengali,Bangladesh,2004-02-20,No status in Canada,Bangladesh,Khulna,...,NaT,Other,NaN,apply for EAP-23S and B851-23F,NaN,NaN,NaN,NaN,NaT,NaT
113,False,X1977613,11194,Jordan,Arabic,Jordan,2004-02-04,No status in Canada,Jordan,‘Ammān,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
150,False,X1983756,NaN,Jordan,Arabic,Jordan,2002-08-19,No status in Canada,Jordan,ʽAjlūn,...,NaT,Visa Rejected,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46198,False,X1842302,1900,Bangladesh,Bengali,Bangladesh,1988-06-12,No status in Canada,Bangladesh,Tangail,...,NaT,NaN,NaN,NaN,Other,Fall term is passed.,NaN,NaN,NaT,NaT
46214,False,X1854693,1194,Jordan,Arabic,United Arab Emirates,1996-06-30,No status in Canada,Jordan,‘Ammān,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
46215,False,X1854693,1194,Jordan,Arabic,United Arab Emirates,1996-06-30,No status in Canada,Jordan,‘Ammān,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
46220,True,X1840522,262804,India,Panjabi; Punjabi,India,2002-02-25,No status in Canada,India,Uttar Pradesh,...,2022-11-21 16:44:04.093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
46251,True,X1840522,262804,India,Panjabi; Punjabi,India,2002-02-25,No status in Canada,India,Uttar Pradesh,...,2022-11-21 16:44:04.093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [11]:
st.drop_duplicates(inplace = True)

In [12]:
st.shape #46331-1516 = 44815

(44815, 61)

### Check for missing values

In [13]:
non_null_counts = st.count()
non_null_columns = non_null_counts[non_null_counts < 44581]
print(non_null_columns)

mailing_address_postal_zip_code                   42208
overall_score                                     39989
test_type                                         40400
declared_student_id                                1069
application_info_due_date                             1
agency_name                                       39851
program_choice_rank                               31995
future_program_selection                              0
application_resubmitted_date                       2712
screened_date                                     42912
offer_state                                       41585
proof_of_payment_date                             13803
conditions?                                       41585
offer_conditions                                    234
offer_date                                        41585
issued_date                                       41585
expiration_date                                   41585
pre-admit_expiration_date                             0
offer_accepted_date                               35198
deposit_due_date                                     10
paid_date                                         25465
pre-registration_date                             11491
withdraw_reason                                   12515
revoke_reason                                     16094
other_reason                                       3371
decline_reason                                      474
decline_other_reason                                398
declined_accepted_offer_at_another_institution        8
declined_accepted_offer_in_another_country            0
deferral_offer_date                                4115
refund_offer_date                                  6962
dtype: int64

#### Delete 6 columns with non-null value fewer than 11.

In [14]:
# Calculate the count of non-null values in each column
non_null_counts = st.count()

# Filter and drop columns with counts less than 11
threshold = 11
columns_to_drop = non_null_counts[non_null_counts < threshold].index
st.drop(columns=columns_to_drop, inplace=True)

In [15]:
st.shape

(44815, 55)

In [16]:
non_null_counts = st.count()
non_null_columns = non_null_counts[non_null_counts < len(st)]
print(non_null_columns)

mailing_address_postal_zip_code    42208
overall_score                      39989
test_type                          40400
declared_student_id                 1069
agency_name                        39851
program_choice_rank                31995
application_resubmitted_date        2712
screened_date                      42912
offer_state                        41585
proof_of_payment_date              13803
conditions?                        41585
offer_conditions                     234
offer_date                         41585
issued_date                        41585
expiration_date                    41585
offer_accepted_date                35198
paid_date                          25465
pre-registration_date              11491
withdraw_reason                    12515
revoke_reason                      16094
other_reason                        3371
decline_reason                       474
decline_other_reason                 398
deferral_offer_date                 4115
refund_offer_date                   6962
dtype: int64

###### No column has only unique values.

In [17]:
st.applicant_number.nunique()

33589

In [18]:
st.application_number.nunique()

36327

###### mailing_address_postal/zip_code

In [19]:
st['mailing_address_postal_zip_code'].unique()

array(['L7C 3B6', '152123', '151504', ..., 'TN25 4PH', '10150', '14522'],
      dtype=object)

In [20]:
st['mailing_address_postal_zip_code'].nunique()

6442

In [21]:
st['mailing_address_postal_zip_code'].value_counts().head(10)

143401    1026
143001     626
146001     478
11194      467
143505     343
147001     319
144001     304
144601     279
144401     256
144002     253
Name: mailing_address_postal_zip_code, dtype: int64

###### overall_score

In [22]:
st.overall_score.nunique()

213

###### test_type

In [23]:
st.test_type.nunique()

12

In [24]:
st.test_type.value_counts()

IELTS                                               33407
Pearson Language Test Evaluation                     4388
Duolingo                                             1401
TOEFL                                                 500
Other                                                 402
English Pathway School                                201
EAP                                                    62
International Test of English Proficiency (iTEP)       23
Cambridge                                               8
MET (Michigan English Test)                             4
CEFR                                                    3
CAEL                                                    1
Name: test_type, dtype: int64

## preprocess the 'overall_score' column

In [25]:
score = st.groupby('test_type')['overall_score'].unique()
score

test_type
CAEL                                                                                            [nan]
CEFR                                                                                        [nan, C1]
Cambridge                                           [178, nan, B, 6.0 (Overall Band Score), 6.0, 3.5]
Duolingo                                            [105, 135, 100, nan, 115, 130, 125, 120, 110, ...
EAP                                                 [nan, Pass, 110, B, 41, 64, 71, undefined, 85,...
English Pathway School                              [nan, B, 3.4, 75, 77, undefined, PW 3.2, 90, P...
IELTS                                               [6.0, 6, 6.5, 7, 7.0, 7.5, 5.5, 57, 8.0, nan, ...
International Test of English Proficiency (iTEP)            [6, 6.5, 7.0, nan, 6.0, 7.5, 5.2, 8.0, 7]
MET (Michigan English Test)                                                          [61, 17.50, nan]
Other                                               [undefined, nan, 6.0, 64, Grade B, Pass, 105, ...
Pearson Language Test Evaluation                    [58, undefined, 57, 67, 60, 54, 66, 64, 70, 53...
TOEFL                                               [103, 94, 101, 87, 96, 98, 95, 100, 111, 72, 7...
Name: overall_score, dtype: object

### IELTS

In [26]:
st.loc[st['test_type']=='IELTS','overall_score'].unique()

array(['6.0', '6', '6.5', '7', '7.0', '7.5', '5.5', '57', '8.0', nan,
       '58', 'undefined', '8', '6.35', '00', '5.0', '2022-08-20', '5',
       '8.5', '2022-12-10', '65', '68', '2022-08-18', '2023-03-02',
       '6.5.', '4.5', '59', '2.5', '2022-12-28', '70', '4.0', '55', '06',
       '605', "'7.0", '2023-04-29',
       'Please review my expired IELTS. It is attached with the documents',
       '6.6', '7 bands', '2022-07-09', '3.5', 'L-6,R-6.5,w-6,sp-7.5',
       'N.A', '62', '3.0', '56', '6.o', '60', '63', '2022-01-29',
       '2022-07-23', '2023-02-18', '61', 'OBS 6.0', '2022-07-30', '54',
       '.6.5', '6.0`', 'Over all - 6', '6.5`', '0', '2022-01-13', '0.0',
       '4,5', '2022-04-30', '6.00', '6.'], dtype=object)

In [27]:
st.loc[st['test_type'] == 'IELTS', 'overall_score'] = st.loc[st['test_type'] == 'IELTS', 'overall_score'].replace(
                                                        {'57':'5','58':'5','6.35':'6','00':'0','65':'6','68':'6','6.5.':'6.5',
                                                          '59':'5','70':'7','55':'5','06':'6','605':'6.5','\'7.0':'7','6.6':'6.5',
                                                          '62':'6','56':'5','6.o':'6','60':'6','63':'6','61':'6','54':'5',
                                                         '.6.5':'6.5',
                                                          '6.0`':'6','6.5`':'6.5','4,5':'4.5','6.00':'6','6.':'6',
                                                          'undefined':np.nan,
                                                          '2022-08-20':np.nan,'2022-12-10':np.nan,
                                                          '2022-08-18':np.nan, '2023-03-02':np.nan,
                                                          '2022-12-28':np.nan,'2023-04-29':np.nan,
                                                          '2022-07-09':np.nan,'2022-01-29':np.nan,
                                                          '2022-07-23':np.nan, '2023-02-18':np.nan,
                                                          '2022-01-13':np.nan,'2022-04-30':np.nan,
                                                          '2022-07-30':np.nan,
                                                          'Please review my expired IELTS. It is attached with the documents':np.nan,
                                                          '7 bands':'7','L-6,R-6.5,w-6,sp-7.5':'7',
                                                          'N.A':np.nan,
                                                          'OBS 6.0':'6',
                                                          'Over all - 6':'6'})

In [28]:
st.loc[st['test_type']=='IELTS','overall_score'].unique()

array(['6.0', '6', '6.5', '7', '7.0', '7.5', '5.5', '5', '8.0', nan, '8',
       '0', '5.0', '8.5', '4.5', '2.5', '4.0', '3.5', '3.0', '0.0'],
      dtype=object)

---

### Pearson Language Test Evaluation

In [29]:
st.loc[st['test_type']=='Pearson Language Test Evaluation','overall_score'].unique()

array(['58', 'undefined', '57', '67', '60', '54', '66', '64', '70', '53',
       '56', '63', '55', '59', '62', '74', '81', '61', '65', '51', nan,
       '68', '76', '52', '72', '71', '79', '73', '69', '80', '2022-12-24',
       '77', '86', '90', '89', '78', '50', '88', '00', '75', '82', '87',
       '2023-04-08', '85', '2023-04-05', '83', '84', '135', '2022-08-08',
       'Overall: 64', '6.0', '60.0', 'Overall: 54', 'Overall',
       '2021-11-03', '0'], dtype=object)

In [30]:
st.loc[st['test_type'] == 'Pearson Language Test Evaluation', 'overall_score'] = st.loc[st['test_type']=='Pearson Language Test Evaluation','overall_score'].replace(
                                                                                    {'undefined':np.nan,
                                                                                     '6.0':'52','60.0':'60','135':'80',
                                                                                     'Overall: 54':'54',
                                                                                     '2023-04-05':np.nan,
                                                                                     '2023-04-08':np.nan,
                                                                                     '2022-08-08':np.nan,
                                                                                     'Overall: 64':'64',
                                                                                     '2022-12-24':np.nan,
                                                                                     '2021-11-03':np.nan,
                                                                                     'Overall':np.nan})

In [31]:
st.loc[st['test_type']=='Pearson Language Test Evaluation','overall_score'].unique()

array(['58', nan, '57', '67', '60', '54', '66', '64', '70', '53', '56',
       '63', '55', '59', '62', '74', '81', '61', '65', '51', '68', '76',
       '52', '72', '71', '79', '73', '69', '80', '77', '86', '90', '89',
       '78', '50', '88', '00', '75', '82', '87', '85', '83', '84', '0'],
      dtype=object)

---

### Duolingo

In [32]:
st.loc[st['test_type']=='Duolingo','overall_score'].unique()

array(['105', '135', '100', nan, '115', '130', '125', '120', '110', '80',
       '45', '145', '85', '35', '95',
       'Literacy: 95 Comprehension: 105 Conversation: 90 Production: 75',
       'undefined', '70', '40', '75', '140', '50', '60', '65', '90',
       '75/160', '120 overall', 'Advance', '145/160', '105-115',
       'Overall: 105', '6385XP', '15', '150', '149', '61', '20', '6.5'],
      dtype=object)

In [33]:
st.loc[st['test_type']=='Duolingo','overall_score'] = st.loc[st['test_type']=='Duolingo','overall_score'].replace(
                                                             {'undefined':np.nan,
                                                              'Literacy: 95 Comprehension: 105 Conversation: 90 Production: 75':'105',
                                                              '75/160':'75',
                                                              'Overall: 105':'105',
                                                              'Advance':'90',
                                                              '105-115':'105',
                                                              '6385XP':np.nan,
                                                              '145/160':'145',
                                                              '120 overall':'120',
                                                              '6.5':'105'})

In [34]:
st.loc[st['test_type']=='Duolingo','overall_score'].unique()

array(['105', '135', '100', nan, '115', '130', '125', '120', '110', '80',
       '45', '145', '85', '35', '95', '70', '40', '75', '140', '50', '60',
       '65', '90', '15', '150', '149', '61', '20'], dtype=object)

---

### TOEFL

In [35]:
st.loc[st['test_type']=='TOEFL','overall_score'].unique()

array(['103', '94', '101', '87', '96', '98', '95', '100', '111', '72',
       '7.5', '97', '89', '104', '110', '85', '99', '79', '108', '102',
       '84', '105', '109', '106', '92', '113', '91', '88', '90', '69',
       '114', '107', '117', '93', '68', '86', '62', '78', '115', '81',
       '112', '46', '74', '77', '83', '58', '120', '53', '82', nan,
       'Overall: 100', '7', '76'], dtype=object)

In [36]:
st.loc[st['test_type']=='TOEFL','overall_score'] = st.loc[st['test_type']=='TOEFL','overall_score'].replace(
                                                             {'7.5':'102',
                                                              'Overall: 100':'100',
                                                              '7':'94'})

In [37]:
st.loc[st['test_type']=='TOEFL','overall_score'].unique()

array(['103', '94', '101', '87', '96', '98', '95', '100', '111', '72',
       '102', '97', '89', '104', '110', '85', '99', '79', '108', '84',
       '105', '109', '106', '92', '113', '91', '88', '90', '69', '114',
       '107', '117', '93', '68', '86', '62', '78', '115', '81', '112',
       '46', '74', '77', '83', '58', '120', '53', '82', nan, '76'],
      dtype=object)

---

### Other

In [38]:
st.loc[st['test_type']=='Other','overall_score'].unique()

array(['undefined', nan, '6.0', '64', 'Grade B', 'Pass', '105', '55',
       '6.5', '66', '87', '6', 'A', '6.0.', '115', '3.4', '60', '80',
       '3.3', '58', 'distinction', '89', '145/160', '75', '96', '56',
       '78', 'A2', '50', '3', '125', '130', 'B1.1', '90', '88', '1', 'C',
       '73', 'C6', '98', '948', '950', '85', 'B3', '570', '17', '6.25',
       'Grade II', '59', '100', '512.5', '945', '2022-06-20', '57', '110',
       '70', '83', '4 Grammer, 3 Writting', '3.2', 'PASS', 'pass',
       'Level 8', '140', '7.5', '159', '120', 'c1', 'Passed', '91', '65',
       'Excellent', '2', '85%', '135', '62', '61', '71', '76', '77', '86',
       '4', '67', 'B2', '82', '52'], dtype=object)

In [39]:
st.loc[st['test_type']=='Other','overall_score'] = np.nan

In [40]:
st.loc[st['test_type']=='Other','overall_score'].unique()

array([nan], dtype=object)

In [41]:
st.loc[st['test_type']=='English Pathway School','overall_score'].unique()

array([nan, 'B', '3.4', '75', '77', 'undefined', 'PW 3.2', '90', 'PW 3.3',
       'PW3.4', 'Pathway 3.4', '80', '7.0', 'Very Good', '98', '89', '71',
       '82', '79', '97', '58', 'PW 3.4', '81', '84', '6.5', '73', '95',
       '71.5', 'pw3.4', '87', '81%', '6.0', '3.2', '94', 'very good',
       'Level PW 3.3', '91', 'ILAC 3.4', '85', '80 hours, Level (3)',
       '76', 'C1', '88', '86%', 'The third level', 'Level 3', '68%'],
      dtype=object)

In [42]:
st.loc[st['test_type']=='English Pathway School','overall_score'] = np.nan

In [43]:
st.loc[st['test_type']=='EAP','overall_score'].unique()

array([nan, 'Pass', '110', 'B', '41', '64', '71', 'undefined', '85',
       'Level3', '89'], dtype=object)

In [44]:
st.loc[st['test_type']=='EAP','overall_score']=np.nan

#### iTEP reture score directly

In [45]:
st.loc[st['test_type']=='International Test of English Proficiency (iTEP)','overall_score'].unique()

array(['6', '6.5', '7.0', nan, '6.0', '7.5', '5.2', '8.0', '7'],
      dtype=object)

In [46]:
st.loc[st['test_type']=='International Test of English Proficiency (iTEP)','overall_score'] = st.loc[st['test_type']=='International Test of English Proficiency (iTEP)','overall_score'].replace('5.2','5.0')

In [47]:
st.loc[st['test_type']=='International Test of English Proficiency (iTEP)','overall_score'].unique()

array(['6', '6.5', '7.0', nan, '6.0', '7.5', '5.0', '8.0', '7'],
      dtype=object)

---

#### Cambridge

In [48]:
st.loc[st['test_type']=='Cambridge','overall_score'].unique()

array(['178', nan, 'B', '6.0 (Overall Band Score)', '6.0', '3.5'],
      dtype=object)

In [49]:
st.loc[st['test_type']=='Cambridge','overall_score'] = st.loc[st['test_type']=='Cambridge','overall_score'].replace(
                                                             { #'178':'176',
                                                              'B':'154',
                                                              '6.0 (Overall Band Score)':'169',
                                                              '6.0':'169',
                                                              '3.5':'100'})

In [50]:
st.loc[st['test_type']=='Cambridge','overall_score'].unique()

array(['178', nan, '154', '169', '100'], dtype=object)

---

#### MET (Michigan English Test)

In [51]:
st.loc[st['test_type']=='MET (Michigan English Test)','overall_score']

1287        61
11425    17.50
11426    17.50
22283      NaN
Name: overall_score, dtype: object

In [52]:
st.loc[st['test_type']=='MET (Michigan English Test)','overall_score']=st.loc[st['test_type']=='MET (Michigan English Test)','overall_score'].replace(
                                                                               {'61':6.0,
                                                                                '17.50':3.0})

In [53]:
st.loc[st['test_type']=='MET (Michigan English Test)','overall_score']

1287     6.0
11425    3.0
11426    3.0
22283    NaN
Name: overall_score, dtype: object

---

In [54]:
st.loc[st['test_type']=='CEFR','overall_score']

7590     NaN
7592     NaN
24155     C1
Name: overall_score, dtype: object

In [55]:
st.loc[st['test_type']=='CEFR','overall_score']=np.nan

In [56]:
#st.loc[st['test_type']=='CAEL','overall_score']

---

In [57]:
st['overall_score'].unique()

array(['6.0', '58', '6', nan, '6.5', '7', '7.0', '57', '67', '7.5', '60',
       '54', '103', '66', '64', '70', '53', '56', '94', '105', '135',
       '63', '55', '59', '100', '101', '5.5', '5', '87', '62', '8.0',
       '96', '74', '81', '115', '98', '61', '65', '95', '130', '125',
       '120', '110', '80', '45', 6.0, '111', '51', '72', '102', '68',
       '97', '76', '89', '145', '85', '52', '35', '8', '104', '0', '71',
       '79', '73', '99', '5.0', '178', '108', '69', '40', '75', '140',
       '77', '84', '50', '86', '8.5', '109', '106', '92', '90', '113',
       '91', '88', '4.5', '78', '114', '00', '2.5', '107', '82', '117',
       '93', '4.0', 3.0, '83', '3.5', '3.0', '112', '46', '154', '15',
       '150', '149', '169', '20', '0.0'], dtype=object)

In [58]:
st['overall_score']=st['overall_score'].astype('float')

In [59]:
score = st.groupby('test_type')['overall_score'].unique()
score

test_type
CAEL                                                                                            [nan]
CEFR                                                                                            [nan]
Cambridge                                                           [178.0, nan, 154.0, 169.0, 100.0]
Duolingo                                            [105.0, 135.0, 100.0, nan, 115.0, 130.0, 125.0...
EAP                                                                                             [nan]
English Pathway School                                                                          [nan]
IELTS                                               [6.0, 6.5, 7.0, 7.5, 5.5, 5.0, 8.0, nan, 0.0, ...
International Test of English Proficiency (iTEP)                  [6.0, 6.5, 7.0, nan, 7.5, 5.0, 8.0]
MET (Michigan English Test)                                                           [6.0, 3.0, nan]
Other                                                                                           [nan]
Pearson Language Test Evaluation                    [58.0, nan, 57.0, 67.0, 60.0, 54.0, 66.0, 64.0...
TOEFL                                               [103.0, 94.0, 101.0, 87.0, 96.0, 98.0, 95.0, 1...
Name: overall_score, dtype: object

In [60]:
def CAEL_IELTS(score):
    if score <= 30:
        return 4.5
    elif score <= 40:
        return 5.5
    elif score <= 50:
        return 6.0
    elif score <= 60:
        return 6.5
    elif score <= 70:
        return 7.0
    elif score <= 80:
        return 8.0
    else:
        return 9.0

In [61]:
def Cambridge_IELTS(score):
    if score <= 154:
        return 5.0
    elif score <= 162:
        return 5.5
    elif score <= 169:
        return 6.0
    elif score <= 176:
        return 6.5
    elif score <= 185:
        return 7.0
    elif score <= 191:
        return 7.5
    else:
        return 9.0

In [62]:
def CEFR_IELTS(score):
    if score in ['A1','A2']:
        return 4.5
    elif score == 'B1':
        return 5.0
    elif score == 'B2':
        return 6.5
    elif score == 'C1':
        return 8.0
    else:
        return 9.0

In [63]:
def Duolingo_IELTS(score):
    if score <= 10:
        return 1.5
    elif score <= 15:
        return 2.0
    elif score <= 25:
        return 2.5
    elif score <= 40:
        return 3.0
    elif score <= 50:
        return 3.5
    elif score <= 60:
        return 4.0
    elif score <= 70:
        return 4.5
    elif score <= 80:
        return 5.0
    elif score <= 90:
        return 5.5
    elif score <= 100:
        return 6.0
    elif score <= 110:
        return 6.5
    elif score <= 120:
        return 7.0
    elif score <= 130:
        return 7.5
    elif score <= 140:
        return 8.0
    elif score <= 150:
        return 8.5
    else:
        return 9.0

In [64]:
def PTE_IELTS(score):
    if score <= 40.8:
        return 5.0
    elif score <= 45.4:
        return 5.5
    elif score <= 51.6:
        return 6.0
    elif score <= 58.5:
        return 6.5
    elif score <= 66.3:
        return 7.0
    elif score <= 74.6:
        return 7.5
    elif score <=82.3:
        return 8.0
    elif score <=88.1:
        return 8.5
    else:
        return 9.0

In [65]:
def TOEFL_IELTS(score):
    if score <= 31:
        return 4.0
    elif score <= 34:
        return 4.5
    elif score <= 45:
        return 5.0
    elif score <= 59:
        return 5.5
    elif score <= 78:
        return 6.0
    elif score <= 93:
        return 6.5
    elif score <= 101:
        return 7.0
    elif score <= 109:
        return 7.5
    elif score <= 114:
        return 8.0
    elif score <= 117:
        return 8.5
    else:
        return 9.0

In [66]:
def convert_to_ielts(row):
    test_type = row['test_type']
    score = row['overall_score']

    if test_type == 'CEFR':
        return CEFR_IELTS(score)
    elif test_type == 'Duolingo':
        return Duolingo_IELTS(score)
    elif test_type == 'Cambridge':
        return Cambridge_IELTS(score)
    elif test_type == 'CAEL':
        return CAEL_IELTS(score)
    elif test_type == 'Pearson Language Test Evaluation':
        return PTE_IELTS(score)
    elif test_type == 'TOEFL':
        return TOEFL_IELTS(score)
    else:
        return row['overall_score']

In [67]:
#df['IELTS Score'] = df.apply(convert_to_ielts, axis=1)

In [68]:
st['standardized_score'] = st.apply(convert_to_ielts, axis=1)
st['standardized_score'].unique()

array([6. , 6.5, nan, 7. , 9. , 7.5, 8. , 5.5, 5. , 3.5, 8.5, 3. , 0. ,
       4.5, 4. , 2.5, 2. ])

#### iTEP reture score directly

In [69]:
st.loc[st['test_type']=='Cambridge','standardized_score']

3940     7.0
10198    9.0
12686    9.0
27901    5.0
31914    6.0
31915    6.0
38586    6.0
45246    5.0
Name: standardized_score, dtype: float64

In [70]:
st.shape

(44815, 56)

###### declared_student_id

In [71]:
st.declared_student_id.count()

1069

In [72]:
st.declared_student_id.nunique()

774

In [73]:
#st.drop(columns='declared_student_id', inplace=True)

In [74]:
st.shape

(44815, 56)

###### agency_name

In [75]:
st.agency_name.count()

39851

In [76]:
st.agency_name.nunique()

234

###### program_choice_rank

In [77]:
st.program_choice_rank.count()

31995

In [78]:
st.program_choice_rank.unique()

array([ 1., nan])

In [79]:
st['program_choice_rank'] = st['program_choice_rank'].fillna(0)

In [80]:
st.program_choice_rank.unique()

array([1., 0.])

###### application_resubmitted_date

In [81]:
st.application_resubmitted_date.count()

2712

In [82]:
#st.drop(columns='application_resubmitted_date', inplace=True)

In [83]:
st.shape

(44815, 56)

###### screened_date
When screening_status is not screened, the screened_date is nan.

In [84]:
st.screened_date.count()

42912

###### offer_state

In [85]:
st.offer_date.count()

41585

In [86]:
st.offer_state.value_counts()

Revoked               14462
Pre-Registered         9635
Refund Requested       6660
Deferral Requested     3873
Withdrawn              3317
Offered                1195
Accepted               1164
Declined               1029
Paid                    250
Name: offer_state, dtype: int64

###### proof_of_payment_date

In [87]:
st.proof_of_payment_date.count()

13803

In [88]:
#st.drop(columns='proof_of_payment_date', inplace=True)

In [89]:
st.shape

(44815, 56)

###### conditions?
When program_decision_state is declined or no desicion, the conditions? is nan.

In [90]:
st['conditions?'].count()

41585

In [91]:
st['conditions?'].value_counts()

False    41351
True       234
Name: conditions?, dtype: int64

###### offer_conditions

In [92]:
st.offer_conditions.count()

234

In [93]:
st.offer_conditions.value_counts()

Successful completion of EAP                                                                       85
Proof of English proficiency                                                                       65
Successful completion of ESC pathway                                                               14
Successful completion of High School                                                               14
Successful completion of College Writing course.                                                    6
Successful completion of ESL                                                                        4
Successful completion of University                                                                 3
Successful completion of Institution program                                                        3
He has successfully completed the prerequisite course - Canada Agile Prep Academy EAP level 3.      2
Gain 75% of EAP level 3 of Canada Agile Preparatory Academy                                         2
Stduent has completed the prerequisite course - Canada Agile Prep Academy EAP pathway level 3       2
She has successfully completed the prerequisite course.                                             2
Successfully complete ILAC University Pathway 3.2                                                   2
Successful completion of ILAC English pathway.                                                      1
Successfully completion of St. Clair College's College Writing course.                              1
Successfully complete Admission Testing                                                             1
She has completed prerequisite course - ILAC University Pathway 3.4                                 1
He has successfully completed ILAC univeristy pathway 3.4.                                          1
Student has completed the required prerequisite course - Canada Agile Prep EAP level 3 85%          1
The parents have valid Work Permit therefore it's domestic rate.                                    1
Passing Canada Agile Prep Academy pathway EAP level 3 with 75% or better                            1
Based on your Animation Art Test                                                                    1
Provide your Portfolio                                                                              1
Successfully complete EAP 8 in 2023 Winter term.                                                    1
He has successfully passed the prerequisite course - Canada Agile Prep EAP Pathway level 3          1
Completion of Math admissions test                                                                  1
Completion of the Pre-Health program                                                                1
Gain 75% of Canada Agile EAP pathway level 3                                                        1
Successful completion of the audition process                                                       1
Successfully complete B227 Office Administration-General program                                    1
She has successfully completed Agile Prep Academy EAP pathway level 3                               1
Successfully complete ILAC pathway 3.2                                                              1
Completion of the ILAC pathway                                                                      1
Student has successfully completed the prerequisite course - College Writing.                       1
Pass ILAC University Pathway 3.2                                                                    1
Score of 115 or higher on Duolingo                                                                  1
Student has successfully completed prerequisite course - Agile Prep Academy EAP pathway level 3     1
He has successully completed the prerequisite course - 75% of Agile Prep Academy EAP level 3.       1
She has successfully completed the prerequisite course - Ace Acumen EAP pathway                     1
Successful completion of High School, Proof of English proficiency                                  1
Successfully complete ILAC university pathway 3.2                                                   1
He has successfully completed ILAC university pathway 3.4.                                          1
Completion of English pathway course                                                                1
Name: offer_conditions, dtype: int64

In [94]:
#st.drop(columns='offer_conditions', inplace=True)

In [95]:
st.shape

(44815, 56)

###### offer_date, issued_date, expiration_date
When program_decision_state is declined or no desicion, the offer_date, issued_date, expiration_date is nan.

In [96]:
st[['offer_date','issued_date','expiration_date']].count()

offer_date         41585
issued_date        41585
expiration_date    41585
dtype: int64

###### offer_accepted_date, paid_date

In [97]:
st[['offer_accepted_date','paid_date']].count()

offer_accepted_date    35198
paid_date              25465
dtype: int64

###### pre-registration_date

In [98]:
st['pre-registration_date'].count()

11491

###### withdraw_reason

In [99]:
st.withdraw_reason.count()

12515

In [100]:
st.withdraw_reason.nunique()

12

In [101]:
st.withdraw_reason.value_counts()

Visa Rejected                           6566
Other                                   2718
Visa Delayed                            1669
Program Change Request                   486
Accepted Another Offer                   341
Financial                                210
Campus Change Request                    207
Transfer to Another Institution          162
Health                                    85
Academic Suspension/Cancelled             46
Not able to meet conditions of Offer      16
Language Difficulty                        9
Name: withdraw_reason, dtype: int64

###### revoke_reason

In [102]:
st.revoke_reason.count()

16094

In [103]:
st.revoke_reason.nunique()

4

In [104]:
st.revoke_reason.value_counts()

Payment Not Received                         10323
No Seats Available in the Selected Intake     5078
Other                                          692
Visa Rejected                                    1
Name: revoke_reason, dtype: int64

###### other_reason

In [105]:
st.other_reason.count()

3371

In [106]:
st.other_reason.nunique()

943

###### decline_reason

In [107]:
st.decline_reason.count()

474

In [108]:
st.decline_reason.nunique()

5

In [109]:
st.decline_reason.value_counts()

Other                                                       398
Accepted Offer of Another Canadian Institution               47
Financial Problem                                            17
Family Problem                                               11
Accepted Offer of Another Institution in Another Country      1
Name: decline_reason, dtype: int64

###### decline_other_reason

In [110]:
st.decline_other_reason.count()

398

In [111]:
st.decline_other_reason.nunique()

274

###### deferral_offer_date

In [112]:
st.deferral_offer_date.count()

4115

###### refund_offer_date

In [113]:
st.refund_offer_date.count()

6962

In [114]:
st.shape

(44815, 56)

--FGCL03 drop the duplicates on applicant number

In [115]:
st = st.drop_duplicates(['applicant_number'], keep = 'last', inplace= False)

In [116]:
st.shape

(33589, 56)

###### Adding new columns to the dataset

--RGCL01

In [117]:
st['test_type_st'] = 'IELTS'
st.loc[st['standardized_score'].isna(),'test_type_st']=''

st['uid'] = range(1, len(st)+1)

In [118]:
st.shape

(33589, 58)

### Save the dataframe as a xlsx file

In [119]:
st.to_excel('students_clean.xlsx', index=False)

In [120]:
st_new = pd.read_excel('students_clean.xlsx')

In [121]:
st_new.head()

,enrolled,applicant_number,mailing_address_postal_zip_code,primary_citizenship,mother_tongue,country_of_birth,date_of_birth,status_in_canada,current_country_of_residence,current_province_of_residence,...,withdraw_reason,revoke_reason,other_reason,decline_reason,decline_other_reason,deferral_offer_date,refund_offer_date,standardized_score,test_type_st,uid
0,False,X1981866,L7C 3B6,India,Panjabi; Punjabi,India,1996-12-20,Study Permit / Student Visa,Canada,Ontario,...,NaN,Payment Not Received,NaN,NaN,NaN,NaT,NaT,6.0,IELTS,1
1,True,X1981905,152123,India,Panjabi; Punjabi,India,2003-01-10,No status in Canada,India,Punjab,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,6.0,IELTS,2
2,False,X1965783,151504,India,Panjabi; Punjabi,India,1998-03-15,No status in Canada,India,Punjab,...,NaN,No Seats Available in the Selected Intake,NaN,NaN,NaN,NaT,NaT,6.5,IELTS,3
3,False,X1965785,143001,India,Panjabi; Punjabi,India,1999-01-27,No status in Canada,India,Punjab,...,NaN,Payment Not Received,NaN,NaN,NaN,NaT,NaT,6.0,IELTS,4
4,True,X1971268,143534,India,Panjabi; Punjabi,India,2004-06-04,No status in Canada,India,Punjab,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,6.5,IELTS,5